<div class="profile-page">
	<h2 style="text-align: center">Profile</h2>

	<div class="card">
		<div style="font-size: 150px;">
			<i class="fa fa-user-secret"></i>
		</div>
		<!-- <img src="<?=$data['user']['picture']?>" alt="John" style="width:100%"> -->
		<h1><?=$data['user']['nickname']?></h1>
		<p class="title"><?=$data['user']['email']?></p>
		<p>Email verification: <?=$data['user']['email_verified'] ? 'Yes' : 'No'?></p>
		<p id="profile-update"></p>
		<div style="margin: 24px 0;">
			<a href="#"><i class="fa fa-dribbble"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-linkedin"></i></a>
			<a href="#"><i class="fa fa-facebook"></i></a>
		</div>
		<p><button>Contact</button></p>
	</div>
</div>

<script type="text/javascript">
	// some php magic
	var dateStr = "<?=$data['user']['updated_at']?>";
	var datetime = new Date(dateStr);
	var formatted = utils.formatDate(datetime);
	document.getElementById('profile-update').innerHTML = "Profile update: " + formatted;
</script>