<!DOCTYPE html>
<html class="no-js">

<head>
	<title><?=Config::get('site_name')?></title>
	<link rel="stylesheet" type="text/css" href="<?=Config::get('site_url')?>/webroot/css/profilepage.css">
	<link rel="stylesheet" type="text/css" href="<?=Config::get('site_url')?>/webroot/css/navbar.css">
	<link rel="stylesheet" type="text/css" href="<?=Config::get('site_url')?>/webroot/css/homepage.css">
	<link rel="stylesheet" type="text/css" href="<?=Config::get('site_url')?>/webroot/css/main.css">
	<link rel="stylesheet" type="text/css" href="<?=Config::get('site_url')?>/webroot/css/testupload.css">
	<link rel="stylesheet" type="text/css" href="<?=Config::get('site_url')?>/webroot/css/testedit.css">
	<link rel="stylesheet" type="text/css" href="<?=Config::get('site_url')?>/webroot/css/testsolve.css">
	<link rel="stylesheet" type="text/css" href="<?=Config::get('site_url')?>/webroot/css/testslist.css">
	<!-- font-awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta charset="utf-8">
</head>

<body>
	<header>
		<div class="navbar">
			<ul>
				<li><a href="/home">Home</a></li>
				<?php if((new Auth())->isAuthenticated()) : ?>
				<li><a href="/test">All tests</a></li>
				<li><a href="/test/create">Upload</a></li>
				<li><a href="/auth/profile">Profile</a></li>
				<!-- <li><a href="/test">My tests</a></li> -->
				<li style="float:right"><a href="/auth/logout">Logout</a></li>
				<?php else : ?>
				<li style="float:right"><a href="/auth/login">Login</a></li>
				<?php endif; ?>
			</ul>
		</div>
	</header>

	<?=$data['partial']?>

	<footer></footer>
</body>

</html>