<h2 style="text-align: center">Edit test</h2>

<div class="test-edit-container">
	<div>
		<input id="topic" name="topic" type="text" placeholder="Test topic..." class="topic" value="<?=$data['topic']?>">
	</div>
	<ol>

		<?php $index=0; foreach($data['questions'] as $value): ?>
		<li>
			<textarea class="question<?php echo $index ?>"><?php echo trim($value["text"],"'") ?></textarea>
			
			<div class="answer-container<?php echo $index ?>">
				<input type="radio" name="answer<?php echo $index ?>" value="1"
					<?php if($value['correct_answer'] == '1' ) echo 'checked' ?>>
				<textarea class="answer-text"><?php echo trim($value['answer_1'],"'") ?></textarea>
			</div>

			<div class="answer-container<?php echo $index ?>">
				<input type="radio" name="answer<?php echo $index ?>" value="2"
					<?php if($value['correct_answer'] == '2' ) echo 'checked' ?>> 
				<textarea class="answer-text"><?php echo trim($value['answer_2'],"'") ?></textarea>		
			</div>

			<div class="answer-container<?php echo $index ?>">
				<input type="radio" name="answer<?php echo $index ?>" value="3"
				<?php if($value['correct_answer'] == '3' ) echo 'checked' ?>> 
				<textarea class="answer-text"><?php echo trim($value['answer_3'],"'") ?></textarea>
			</div>

			<div class="answer-container<?php echo $index ?>">
				<input type="radio" name="answer<?php echo $index ?>" value="4"
				<?php if($value['correct_answer'] == '4' ) echo 'checked' ?>> 				
				<textarea class="answer-text"><?php echo trim($value['answer_4'],"'") ?></textarea> <br>
			</div>
		</li>
		<br>
		<?php $index++; endforeach; ?>

	</ol>
</div>
<p><button id="save-button" class="save-button">Save</button></p>

<script>
	document.getElementById('save-button').addEventListener('click', onClick);

	function onClick() {
		const questions = JSON.parse(`<?php echo json_encode($data["questions"]) ?>`);
		const testId = JSON.parse(`<?php echo json_encode($data["id"]) ?>`);
		
		questions.forEach((q, qi) => {
			questions[qi]['text'] = document.getElementsByClassName(`question${qi}`)[0].value;
			const answers = document.getElementsByClassName(`answer-container${qi}`);

			for (let i = 0; i < answers.length; i++) {
				questions[qi][`answer_${i + 1}`] = answers[i].children[1].value;
				if (answers[i].children[0].checked) {
					questions[qi]['correct_answer'] = answers[i].children[0].value;
				}			
			}
		});
		const topic = document.getElementById('topic').value;
		const test = { topic, questions };
		console.log(test);
		const xhr = new XMLHttpRequest();
		xhr.open('POST', `http://localhost/tests/${testId}`, true);
		xhr.send(JSON.stringify(test));
	}
</script>