<div class="tests-container">
	<h2>All tests</h2>
	<button onclick="testsGroup = 'mine'; onSearchChange()">Mine</button>
	<button onclick="testsGroup = 'all'; onSearchChange()">All</button>

	<input type="text" id="search-input" onkeyup="onSearchChange()" placeholder="Search for names.." title="Type in a name">

	<ul id="tests-list">
		<?php foreach($data as $test) { ?>
		<li class="all <?php if($test['isMine']) echo 'mine'; ?>"><a href="/tests/<?php echo $test['id'] ?>"><?php echo $test['topic'] ?></a></li>
		<?php } ?>
	</ul>
</div>

<script>
	let testsGroup = 'all';
	function onSearchChange() {
		debugger;
		var input, filter, ul, li, a, i, txtValue;
		input = document.getElementById("search-input");
		filter = input.value.toUpperCase();
		ul = document.getElementById("tests-list");
		li = ul.getElementsByClassName(testsGroup);
		for (i = 0; i < li.length; i++) {
			a = li[i].getElementsByTagName("a")[0];
			txtValue = a.textContent || a.innerText;
			if (txtValue.toUpperCase().indexOf(filter) > -1) {
				li[i].style.display = "";
			} else {
				li[i].style.display = "none";
			}
		}
	}
</script>