<h2 style="text-align: center"><?=$data['topic']?></h2>

<div class="test-container">
	<ol>

		<?php $index=0; foreach($data['questions'] as $value): ?>
		<li>
			<div id="question<?php echo $index ?>">
				<span><?php echo trim($value["text"],"'") ?></span>
			</div>
			<!-- <span id="correct-icon-<?php echo $index ?>" class="correct-icon"><i class="fa fa-check"></i></span> -->
			<!-- <span id="wrong-icon-<?php echo $index ?>" class="wrong-icon"><i class="fa fa-times"></i></span> -->

			<div id="question<?php echo $index ?>-answer1">
				<input type="radio" name="question<?php echo $index ?>-answer" value="1">
				<span><?php echo trim($value['answer_1'],"'") ?></span>
			</div>

			<div id="question<?php echo $index ?>-answer2">
				<input type="radio" name="question<?php echo $index ?>-answer" value="2">
				<span><?php echo trim($value['answer_2'],"'") ?></span>
			</div>

			<div id="question<?php echo $index ?>-asnwer3">
				<input type="radio" name="question<?php echo $index ?>-answer" value="3">
				<span><?php echo trim($value['answer_3'],"'") ?></span>
			</div>

			<div id="question<?php echo $index ?>-answer4">
				<input type="radio" name="question<?php echo $index ?>-answer" value="4">
				<span><?php echo trim($value['answer_4'],"'") ?></span> <br>
			</div>
		</li>
		<br>
		<?php $index++; endforeach; ?>

	</ol>
</div>
<p><button id="submit-button" class="submit-button">Submit</button></p>

<script>
	document.getElementById('submit-button').addEventListener('click', onClick);

	function onClick() {
		const questions = JSON.parse(`<?php echo json_encode($data["questions"]) ?>`);
		const testId = JSON.parse(`<?php echo json_encode($data["id"]) ?>`);
		const userId = JSON.parse(`<?php echo json_encode($data["user"]["sub"]) ?>`);

		const result = {
			userId,
			testId,
			answers: []
		}

		for (let i = 0; i < questions.length; i++) {
			let isChecked = false;
			let answer = -1;
			var radios = document.getElementsByName(`question${i}-answer`);

			for (let r = 0; r < radios.length; r++) {
				if (radios[r].checked) {
					isChecked = true;
					answer = +radios[r].value;
					break;
				}
			}

			if (!isChecked) {
				alert(`Question ${i + 1} is left without answer! Answer all question in order to submit. If you don't know the answer take a guess :).`);
				return;
			}

			result.answers.push({
				questionId: +questions[i].id,
				givenAnswer: answer,
			});
		}

		const xhr = new XMLHttpRequest();
		xhr.open('POST', 'http://localhost/results/submit', true);
		xhr.onload = function () {
			if (this.status == 200) {
				const id = +this.response;
				window.location.href = '/results/' + id;
			}
		};
		xhr.send(JSON.stringify(result));
	}
</script>